:root {
    --bg: #222;
    --dark: #444;
    --text: #ddd;
    --light: #aaa;

    --red: #b82222;
    --yellow: #ebeb3e;
    --green: #07c407;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: sans-serif;
    background-color: var(--bg);
}
h1 {
    margin: 30px 0 0;
    font-size: 30px;
    color: var(--text);
}
p {
    margin: 5px 0;
}

.container {
    width: 96%;
    max-width: 1600px;
    margin: auto;
}
#content {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 20px 0 40px;
}
#content.genres {
    display: block;
    column-count: 3;
    column-gap: 30px;
}
#content .box {
    margin: 15px;
    background-color: var(--dark);
    border-radius: 5px;
    overflow: hidden;
    border-bottom: 5px solid var(--green);
}
#content .box .content {
    height: 100%;
}
#content .box .content img {
    width: 100%;
}
#content .box .content .footer {
    background-color: var(--light);
    color: var(--bg);
    height: 100%;
    padding: 12px;
}
span.genre {
    display: inline-block;
    padding: 5px 0;
    color: var(--light);
}